.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  min-height: 52px;

  text-transform: uppercase;
  color: @tundora;
  font-weight: bold;
  .font-height(18px; 20px);

  border: 2px solid @tundora;

  &:hover {
    color: @white;

    background-color: @tundora;
  }

  &:active {
    color: fade(@white, 30%);
    background-color: @tundora;
  }
}
