.contacts {
  display: grid;

  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  .font-height(14px; 30px);
  color: @tundora;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 160px 2fr 1fr;
    grid-template-areas:
      ". title   img"
      ". channel img"
      ". button  img";

    height: 457px;
  }
}

.contacts__info {
  overflow: hidden;

  margin-top: 0;
  margin-bottom: 62px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
    margin-top: 24px;
    margin-bottom: 50px;

    .font-height(17px; 30px);

    overflow: unset;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    grid-area: channel;

    margin-top: 11px;
  }
}

.contacts__channel {
  display: flex;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
}

.contacts__title {
  position: relative;

  margin-bottom: 28px;

  font-family: @font-family-basic;
  font-style: normal;
  font-weight: bold;
  color: @black;

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: -18px;
      right: 0;

      height: 81px;
      width: 47px;

      background-image: url("../img/flag.svg");
    }

    @media (min-width: @desktop-width) {
      left: -112px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-area: title;
    align-self: flex-end;
    margin-bottom: 25px;
  }
}

.contacts__link {
  color: inherit;
}

.contacts__email {
  color: @tundora;
  border-bottom: solid 2px @downy;
  margin-bottom: 33px;

  line-height: 25px;

  &:hover {
    color: @downy-light;
    border-bottom-color: @downy-light;
  }

  &:active {
    border-bottom-color: fade(@downy-light, 10%);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 28px;

    line-height: 30px;
  }
}

.contacts__button {
  justify-self: center;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 230px;
  }

  @media (min-width: @desktop-width) {
    grid-area: button;
    justify-self: left;
    align-self: flex-end;
  }
}

.contacts__map {
  position: relative;

  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-area: img;
    align-self: stretch;
    margin-bottom: 105px;
  }
}

.contacts__definition {
  margin-left: 35px;

  @media (min-width: @tablet-width) {
    margin-left: 25px;
  }
}
