.divider {
  max-width: 100%;
  height: 6px;

  background-image: url("../../img/zigzag-line-mobile.svg");
  background-repeat: repeat-x;

  @media (min-width: @tablet-width) {
    height: 20px;
    background-image: url("../../img/zigzag-line-desktop.svg");
  }

  @media (min-width: @desktop-width) {
    height: 23px;
    background-image: url("../../img/zigzag-line-desktop.svg");
    width: 100%;
  }

  &--in--block {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    color: red;

    @media (min-width: @tablet-width) {
      position: absolute;

      display: block;
      max-width: 100%;
      height: 24px;
      max-height: 34px;

      margin-top: -13px;
      margin-right: auto;
      margin-left: auto;

      background-repeat: repeat-x;
      background-image: url("../../img/zigzag-line-links.svg");
    }

    @media (min-width: @desktop-width) {
      transfrom: scale(1.5);
    }
  }
}
