.identity {
  background-color: @seashell;
  background-image: url(../../img/identity.png);
  background-repeat: no-repeat;
}

.identity__title {
  font-size: 27px;
}

.identity__link {
  color: white;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  &:nth-child(odd) {
    background-color: @downy;
  }
  &:nth-child(even) {
    background-color: @fountain-blue;
  }
}
