.identity {
  background-image: url("../img/identity.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: @alabaster;
  background-position: 0 -20px;

  width: 100%;
  height: 490px;

  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-end;

  @media (min-width: @tablet-width) {
    align-content: stretch;
    align-items: flex-end;

    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1150px;
    height: 742px;
    margin-left: auto;
    margin-right: auto;
  }
}

.identity__title {
  .font-height(27px; 30px);
  height: 232px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: flex-start;
    margin-top: 80px;

    .font-height(43px; 50px);
  }
}

.identity__br {
  display: none;

  @media (max-width: @mobile-width-only) {
    display: inline;
  }
}

.identity__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 30px;
  height: 103px;

  color: white;
  font-weight: bold;
  .font-height(19px; 24px);

  &:nth-child(odd) {
    background-color: @downy;
  }

  &:nth-child(even) {
    background-color: @fountain-blue;
  }

  @media (min-width: @tablet-width) {
    height: 120px;
  }

  @media (min-width: @desktop-width) {
    .font-height(20px; 30px);

    padding-left: 36px;
  }
}
