.identity {
  position: relative;

  width: 100%;

  background-color: @alabaster;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  &--wavy {
    @media (min-width: @tablet-width) {
      &::after {
        content: "";
        position: absolute;
        bottom: -12px;

        max-width: 100%;
        width: 100%;
        height: clamp(24px, 3vw, 34px);

        background-image: url("../img/zigzag-fill-desktop.svg");
        background-size: clamp(768px, 100%, 1150px);
        background-repeat: repeat-x;
      }
    }
  }
}

.identity__img {
  display: flex;
  justify-content: center;

  height: 282px;
  width: 320px;
  margin-right: auto;
  margin-left: auto;

  object-position: center -19px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 626px;
    width: auto;

    object-fit: none;
    object-position: center -1px;
  }
}

.identity__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  margin-top: 72px;

  text-align: center;
  .font-height(27px; 30px);

  @media (min-width: @tablet-width) {
    margin-top: 155px;

    .font-height(43px; 50px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 155px;

    .font-height(53px; 57px);
  }
}

.identity__br {
  display: none;

  @media (max-width: @mobile-width-only) {
    display: inline;
  }
}

.identity__links {
  .list-style-reset;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.identity__item {
  flex-basis: 50%;
  display: flex;
}

.identity__link {
  position: relative;

  display: block;
  padding-left: 30px;
  padding-top: 24px;

  height: 103px;
  width: 100%;

  font-weight: bold;
  .font-height(19px; 24px);
  color: white;

  transition: padding-top 0.25s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    margin-top: auto;
    margin-bottom: auto;

    background-repeat: no-repeat;
    opacity: 0.5;

    transition: transform 0.25s ease-in-out;
  }

  &--icon--lamp::before {
    margin-right: 36px;
    width: 40px;
    height: 62px;

    background-image: url("../img/lamp.svg");
  }

  &--icon--lego::before {
    margin-right: 27px;
    width: 60px;
    height: 60px;

    background-image: url("../img/lego.svg");
  }

  &::after {
    //setup for animation
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: inherit;

    transition: transform 0.25s ease-in-out;
  }

  @media (min-width: @tablet-width) {
    height: 120px;
    padding-left: 36px;

    .font-height(20px; 30px);
  }

  @media (min-width: @desktop-width) {
    padding-left: 36px;
  }

  .identity__item:nth-child(odd) & {
    background-color: @downy;
  }

  .identity__item:nth-child(even) & {
    background-color: @fountain-blue;
  }

  // STATES

  &:hover {
    padding-top: 19px;

    .identity__item:nth-child(odd) & {
      background-color: @viking;
    }

    .identity__item:nth-child(even) & {
      background-color: @puerto-rico;
    }

    &::after {
      transform: translateY(-5px);
      transition: transform 0.25s ease-in-out;
    }

    &::before {
      opacity: 0.7;

      transform: translateY(-5px);
      transition: transform 0.25s ease-in-out;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}
