.modal {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: fade(@white, 90%);
}

.modal__window {
  position: fixed;
  left: 50%;
  top: 50%;

  height: 336px;
  width: 100%;
  max-width: 566px;

  background-color: @white;
  border: 1px solid @silver;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  transform: translate(-50%, -50%);
}
