.page {
  font-family: @font-family-basic;
  background-color: white;
  color: @black;
  height: 100%;
}

.page__text {
  margin-bottom: 0;

  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  .font-height(13px; 24px);
  color: @tundora;

  @media (min-width: @tablet-width) {
    .font-height(17px; 30px);
  }
}

.page__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 177px;

  .font-height(27px; 30px);

  @media (min-width: @tablet-width) {
    .font-height(43px; 50px);
    height: 220px;
  }

  @media (min-width: @desktop-width) {
    height: 255px;
    .font-height(53px; 57px);
  }
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
}

.page__header {
  background-color: white;
  font-family: @font-family-basic;
  .font-height(17px; 24px);

  height: 80px;

  @media (min-width: @tablet-width) {
    height: 90px;
  }
}

.page__identity {
}

.page__promo {
  margin-top: 31px;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
  }
}

.page__desc {
  .margin-block(58px; 165px; 165px);
}

.page__slider {
  .margin-block(36px; 100px; 130px);
}

.page__contacts {
  @media (min-width: @tablet-width) {
    margin-top: 60px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 80px;
  }
}

.page__form {
  margin-top: 30px;
}
