.page {
  font-family: @font-family-basic;
  background-color: white;
  color: black;
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
