.page {
  font-family: @font-family-basic;
  background-color: white;
  color: black;
  height: 100%;
}

.page__text {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: @tundora;
}

.page__title {
  font-size: 27px;
  background-color: @seashell;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
