.product {
  border: solid 1px @gallery;

  transition: box-shadow 0.1s ease-in-out;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 316px;
    min-height: 659px;
  }
}

.product__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  &--desc {
    padding-left: 28px;
    padding-right: 28px;

    .font-height(17px; 24px);

    @media (min-width: @tablet-width) {
      flex-direction: column;

      margin-top: 0;
      padding-top: 26px;
      padding-left: 31px;
    }

    @media (min-width: @desktop-width) {
      justify-content: space-between;
      height: 100%;
      padding-left: 27px;
      padding-top: 28px;
    }

    &:hover,
    &:focus-within {
      box-shadow: 0 6px 10px @mask;
    }

    &:active {
      box-shadow: 0 3px 5px @mask;
    }
  }

  &--buy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 8px;
    padding-bottom: 10px;
    border-top: solid 1px @gallery;

    @media (min-width: @tablet-width) {
      margin-top: auto;
      margin-bottom: 7px;

      padding-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      margin-top: auto;
      margin-bottom: 11px;
      padding-top: 16px;
    }
  }

  &--heading {
    flex-direction: column;
    margin-bottom: 18px;

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}

.product__title {
  margin: 0;
  margin-bottom: 5px;

  font-family: @font-family-basic;
  font-style: normal;
  font-weight: bold;
  .font-height(17px; 23px);
  color: @black;

  @media (min-width: @tablet-width) {
    .font-height(20px; 24px);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__price {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: bold;
  .font-height(15px; 24px);
  color: @black;

  @media (min-width: @tablet-width) {
    margin-left: 1px;
    margin-bottom: 20px;
    margin-top: 17px;
    .font-height(17px; 24px;);
  }

  @media (min-width: @desktop-width) {
    margin-top: auto;
    margin-bottom: 13px;
    margin-left: -1px;
  }
}

.product__parameters {
  margin-top: 0;
  margin-bottom: 0;

  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  .font-height(13px; 30px);
  color: @tundora;

  @media (min-width: @tablet-width) {
    .font-height(15px; 30px);
  }
}

.product__image {
  display: block;
  margin-bottom: 28px;
  width: 260px;
  height: 195px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    width: 333px;
    height: 333px;
  }

  @media (min-width: @desktop-width) {
    width: 315px;
    height: 461px;

    object-fit: cover;
  }
}

.product__add-to-cart {
  fill: @black;
  opacity: 0.2;

  &:hover {
    fill: @downy;
    opacity: 1;
  }

  &:active {
    fill: @downy;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}
