.product__title {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: black;
}

.product__price {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: black;
}

.product__parameters {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: @tundora;
}
