.promo {
  display: grid;
  grid-template-areas:
    "t"
    "h"
    "desc"
    "dl"
    "img"
    "p"
    "b";
  width: 100%;
  max-width: 1150px;

  font-family: @font-family-basic;
  font-weight: normal;
  color: @tundora;
  .font-height(15px; 24px);

  @media (min-width: @tablet-width) {
    grid-template-areas:
      "t    t    t   h"
      "desc desc img img"
      "dl   dl   img img"
      "p    p    img img"
      "b    b    img img";
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-areas:
      "h t    t    img img img"
      ". desc desc img img img"
      ". dl   dl   img img img"
      ". p    p    img img img"
      ". b    b    img img img";
    grid-template-columns: 1fr 175px 175px 1fr 1fr 1fr;
  }
}

.promo__heading {
  grid-area: h;
  align-self: center;
  margin-top: 0;
  margin-bottom: 18px;

  color: @fountain-blue;
  font-weight: bold;
  text-transform: uppercase;
  .font-height(17px; 20px);
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    justify-self: end;
    align-self: flex-start;
    text-align: center;

    width: 50px;
    margin-right: 38px;
    margin-top: 5px;

    .font-height(17px; 17px);
  }
}

.promo__parameters-lists {
  grid-area: dl;
  display: grid;
  grid-template-columns: max-content 1fr;

  margin-bottom: 29px;

  .font-height(15px; 20px);

  @media (min-width: @tablet-width) {
    grid-template-rows: repeat(auto-fill, 40px);

    margin-top: 0;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 100px;
  }
}

.promo__parameter-item {
  padding-top: 7px;
  padding-bottom: 12px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: @tablet-width) {
    padding-bottom: 15px;
    padding-top: 5px;
  }
}

.promo__parameter-definition {
  max-width: 250px;
  margin: 0;
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 12px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: @tablet-width) {
    padding-bottom: 15px;
    padding-top: 5px;
  }
}

.promo__price {
  grid-area: p;
  display: flex;
  justify-content: center;

  margin-bottom: 24px;
  margin-top: 0;

  font-weight: bold;
  .font-height(17px; 24px);

  @media (min-width: @tablet-width) {
    max-width: 280px;

    .font-height(20px; 24px);
  }
}

.promo__image {
  grid-area: img;

  margin-bottom: 20px;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-top: 6px;
    margin-bottom: 0;
  }
}

.promo__title {
  grid-area: t;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 7;
    z-index: 1;
  }
}

.promo__button {
  grid-area: b;

  height: 52px;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 292px;
  }
}

.promo__desc {
  grid-area: desc;

  margin-top: 0;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    width: 85%;
    margin-bottom: 40px;

    .font-height(17px; 30px);
  }
}
