.promo {
  width: 100%;
  max-width: 1150px;

  display: grid;
  grid-template-areas:
    "t"
    "h"
    "desc"
    "dl"
    "img"
    "p"
    "b";

  font-family: @font-family-basic;
  font-weight: normal;
  color: @tundora;
  .font-height(15px; 24px);

  @media (min-width: @tablet-width) {
    grid-template-areas:
      "t    t    t   h"
      "desc desc img img"
      "dl   dl   img img"
      "p    p    img img"
      "b    b    img img";
    grid-template-columns: 175px 175px 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-areas:
      "h t    t    img img img"
      ". desc desc img img img"
      ". dl   dl   img img img"
      ". p    p    img img img"
      ". b    b    img img img";
    grid-template-columns: 1fr 175px 175px 1fr 1fr 1fr;
  }
}

.promo__heading {
  grid-area: h;
  align-self: center;
  color: @fountain-blue;
  font-weight: bold;
  text-transform: uppercase;
  .font-height(17px; 20px);
  margin: 0;
}

.promo__parameters-lists {
  grid-area: dl;
  .font-height(15px; 20px);

  display: grid;
  grid-template-columns: max-content 1fr;
}

.promo__parameter-item {
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.promo__parameter-definition {
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 250px;
}

.promo__price {
  grid-area: p;
  display: flex;
  justify-content: center;
  font-weight: bold;
  .font-height(17px; 24px);

  @media (min-width: @tablet-width) {
    max-width: 280px;

    .font-height(20px; 24px);
  }
}

.promo__image {
  grid-area: img;
}

.promo__title {
  grid-area: t;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 7;
    z-index: 1;
  }
}

.promo__button {
  grid-area: b;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 292px;
  }
}

.promo__desc {
  grid-area: desc;
}
