.review__quote {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: @tundora;
}

.review__author {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: black;
}

.review__source {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: @tundora;
}
