.review {
  display: flex;
  flex-direction: column;
}

.review__block-quote {
  margin-left: 0;

}

.review__quote {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  color: @tundora;
  .font-height(15px; 30px);
}

.review__author {
  display: flex;
  flex-direction: column;

  font-family: @font-family-basic;
  font-style: normal;
  font-weight: bold;
  .font-height(17px; 24px);
  color: @black;

}

.review__source {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  .font-height(17px; 30px);
  color: @tundora;
}
