.site-list {
  .list-style-reset;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;

    width: 100%;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: max-content max-content;
  }
}

.site-list__item {
  padding-left: 76px;
  border-top: @border-head;

  &:nth-child(n + 3) {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
      .font-height(15px;24px;);
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;

    .font-height(15px;24px);

    border-top: none;
    border-bottom: none;

    &:first-child {
      margin-right: 35px;
    }
  }

  @media (min-width: @desktop-width) {
    &:first-child {
      border-right: @border-head;
      margin-right: 0;
    }

    &:nth-child(-n + 2) {
      .font-height(17px;24px;);
    }
  }
}

.site-list__link {
  display: flex;
  align-items: center;
  height: 77px;
  color: inherit;
  .font-height(inherit; inherit);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    height: 65px;
  }

  @media (min-width: @desktop-width) {
    height: 89px;
    padding-right: 13px;
    margin-right: 14px;

    &:nth-child(n + 3) {
      height: 65px;
    }
  }
}

.site-list__item:nth-child(n + 3) > .site-list__link {
  @media (min-width: @desktop-width) {
    height: 65px;
  }
}

.site-list__item:nth-child(even) > .site-list__link {
  @media (min-width: @desktop-width) {
    padding-left: 35px;
  }
}
