.site-list {
  .list-style-reset;
}

.site-list__item {
  padding-left: 76px;
  border-top: @border-head;

  &:nth-child(n + 3) {
    display: none;
  }
}

.site-list__link {
  display: flex;
  align-items: center;
  height: 77px;
  color: inherit;
  .font-height(inherit; inherit);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
