.slider {
  position: relative;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.slider__title {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.slider__list {
  .list-style-reset;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.slider__button {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%);
    width: 175px;
  }
}

.slider__navigation {
  display: flex;
  align-items: stretch;
  position: relative;
  margin-bottom: 38px;

  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 180px;
    border: none;
    bottom: 0;
    right: 40px;

    transform: translateY(45%);
  }
}

.slider__control {
  border: none;
  width: 50%;
  background-color: inherit;
  background-image: url("../../img/huge-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  &--previous {
    transform: rotate(180deg);
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    @media (min-width: @tablet-width) {
      border: none;
    }
  }
}
