.user-list {
  .list-style-reset;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.user-list__item {
  position: relative;

  padding-left: 76px;

  border-top: @border-head;

  @media (min-width: @tablet-width) {
    padding-left: 83px;

    border-top: none;
    border-left: @border-head;
  }

  @media (min-width: @desktop-width) {
    height: 89px;
  }

  &--search {
    @media (min-width: @tablet-width) {
      padding-left: 0;
    }
  }
}

.user-list__link {
  display: flex;
  align-items: center;
  height: 77px;

  color: inherit;
  .font-height(inherit; inherit);

  &:hover {
    color: fade(@black, 60);
  }

  &:active {
    color: fade(@black, 30);
  }

  @media (min-width: @tablet-width) {
    height: 89px;
  }
}

.user-list__icon {
  position: absolute;
  left: 32px;
  opacity: 0.2;

  &--search {
    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.user-list__link:hover > .user-list__icon {
  opacity: 1;
  fill: @downy;
}

.user-list__link:active > .user-list__icon {
  fill: @downy;
  opacity: 0.3;
}

.user-list__search {
  &--text {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 82px;
  }
}
