.video-promo {
  display: flex;
  flex-direction: column;

  padding-bottom: 30px;
  margin-bottom: 57px;

  border: solid 1px @gallery;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 4fr 2fr;

    padding-bottom: 0px;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video-promo__title {
  position: relative;

  margin-left: 90px;
  margin-top: 21px;
  margin-bottom: 24px;

  font-family: @font-family-basic;
  font-style: normal;
  font-weight: bold;
  .font-height(17px; 24px);
  color: @black;

  @media (min-width: @tablet-width) {
    margin-left: 106px;
    margin-top: 36px;

    .font-height(20px; 24px);
  }

  @media (min-width: @desktop-width) {
    margin-left: 61px;
    margin-top: 94px;
    margin-bottom: 0;
    width: 200px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 16px;
    left: -57px;

    width: 32px;
    height: 22px;

    background-image: url("../img/video.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      top: -2px;
      left: -64px;
    }

    @media (min-width: @desktop-width) {
      top: -51px;
      left: 0;
    }
  }
}

.video-promo__desc {
  margin-top: 38px;
  margin-bottom: 41px;

  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  .font-height(13px; 24px);
  color: @tundora;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 51px;

    .font-height(15px; 30px);
  }
}

.video-promo__player {
  position: relative;

  align-self: center;

  @media (min-width: @tablet-width) {
    order: -1;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: span 3;
  }
}

.video-promo__image {
  display: flex;
}

.video-promo__play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 77px;

  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;

  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.video-promo__wrapper {
  padding-left: 34px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 61px;
    margin-top: 28px;
  }
}

.video-promo__button {
  align-self: center;

  @media (min-width: @desktop-width) {
    width: 231px;
  }
}
