.video-promo {
  // @media (min-width: @tablet-width) {
  //   display: flex;
  //   flex-direction: column;
  // }

  // @media (min-width: @desktop-width) {
  //   flex-direction: row;
  // }
}

.video-promo__title {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: bold;
  .font-height(17px; 24px);
  color: @black;
}

.video-promo__desc {
  font-family: @font-family-basic;
  font-style: normal;
  font-weight: normal;
  .font-height(13px; 24px);
  color: @tundora;
}

.video-promo__player {
  @media (min-width: @desktop-width) {
    float: left;
  }
}
