// Colors
@black: #000000;
@downy: #63d1bb;
@downy-light: #62d1ba;
@fountain-blue: #56c3b2;
@tundora: #444444;
@blue-chill: #149080;
@thunder: #231f20;
@seashell: #f1f1f1;

// Fonts

@font-family-basic: "Open Sans", "Arial", sans-serif;
